html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;
}

body{
    /* width: 90%; */
    margin:0 auto;
    
    background-color: rgb(255, 255, 255);
}


.container{
    position: relative;
    width: 60%;
    height: 50vh;
  
    margin:0 auto;
    background-color: aliceblue;
}

.randNum{
    position: absolute;
    margin:1px;
    border: 1px solid black;
    border-radius: 50%;
    font-size: 1.5rem;
    
    
    width: 35px;
    height: 35px;
    line-height: 1.5;
    text-align: center;
}

.hideNum{
    background-color: black;
    color: black;

}
.hideNum::selection{
    /* background-color: black; */
    color: black;
}

.timeBar{
    width: 60%;
    height: 10px;
    background-color: blue;
    margin:0 auto;
    /* transition: width 3s ease-in; */
}

.timeBarShrink{
    width: 0px
}