html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0 auto;
    background-color: #05668D;
}

.container {
    position: relative;
    width: 60%;
    height: 50vh;
    margin: 0 auto;

    background-color: #CAF0F8;
    border: 2px solid black;
}

/* nums */
.randNum {
    position: absolute;
    margin: 1px;
    box-sizing: border-box;
    background-color: #03295e;
    color: #ffffff;
    border: 1px solid #002c69;
    border-radius: 50%;
    font-size: 1.5rem;
    line-height: 1.3;
    text-align: center;


    width: 35px;
    height: 35px;

    transition: color 200ms ease-out,
        opacity 400ms ease-in,
        width 300ms ease-in,
        height 300ms ease-in-out;

}

/* hide num */
.hideNum {
    background-color: #03295e;
    color: #03295e;
}

.hideNum::selection {
    color: #03295e00;
}

.hideNum:hover {
    animation: pulse 0.5s ease-in infinite;
}

@keyframes pulse {
    50% {
        transform: scale(0.9);
    }

    50% {
        transform: scale(1.1);
    }
}

/* remove effect */
.removeNum {
    opacity: 0;
    width: 40px;
    height: 40px;
}

/*  */
.revealNums {
    background-color: #bc0404;
    animation: pulse 0.5s ease-in infinite;
}
.revealNums::selection {
    background-color: #bc0404;
}
/* time bar */
.timeBar {
    width: 60%;
    height: 2vh;
    margin: 1rem auto;

    border: 2px solid black;
    border-radius: 2%;
    background-color: #0ecd0e;
}
.timeBarShrink {
    width: 0px;

    background-color: red;

    animation: pulseBar 1s ease infinite;
}

@keyframes pulseBar {
    50% {
        transform: scaleY(0.9);
    }
    50% {
        transform: scaleY(1.1);
    }
}

/* start game btn */
.startGame {
    padding: 0.4rem 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: #002c69;
    border: 3px solid #ffffff;
    border-radius: 10%;
}

.startGame:active {
    color: #002c69;
    background-color: #ffffff;
    border: 3px solid #002c69;
}

.startGame:disabled {
    opacity: 0;
}

/* title and score display */
h1, p {
    margin: 0;
    color: #ffffff;
    /* background-color: #023E8A; */

}

.scoreClass {
    font-size: 2rem;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 28vh;
}